@font-face {
    font-family: 'instant_noodle';
    src: url('instant_noodle-webfont.woff2') format('woff2'),
         url('instant_noodle-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
