@font-face {
    font-family: 'instant_noodle';
    src: url('instant_noodle-webfont.woff2') format('woff2'),
         url('instant_noodle-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.vertcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1{ 
    color: whitesmoke; 
    font-weight: 100; 
    font-size: 40px; 
    margin: 40px 0px 20px; 
} 
#clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: yellow; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: grey; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 
.rounddiv{
    border-radius: 10px / 10px;
    padding: 10px;
    width: 95%;
    
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}